* {
    margin: 0;
}

body {
    background-color: #081b27;
}

.header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 80px;
    max-width: 3000px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #0c2738;
}

.header-block {
  display: block;
  width: 100%;
  height: 80px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.logo-block {
  width: 30%;
  height: 80px;
}

.logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  padding-top: 26px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo-text {
  width: 150px;
  height: auto;
  margin-top: 26px;
  color: #fff;
  text-align: center;
}

.header-block {
  display: block;
  width: 100%;
  height: 80px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.logo-block {
  width: 30%;
  height: 80px;
}

.logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  margin-top: -10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo-img {
    width: 60px;
}

.logo-text {
  width: 150px;
  height: auto;
  margin-top: 10px;
  color: #fff;
  text-align: center;
  font-size: 20px;
}

.logo-text span {
    color: #ffb24b;
}

.nav-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  height: 80px;
  margin-right: 60px;
  margin-left: auto;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 120px;
  height: 80px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-text {
  font-family: Kurale, sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}

.nav-text:hover {
  height: 50px;
  padding-top: 29px;
  padding-bottom: 0px;
  border-style: none none solid;
  border-width: 1px 0px 3px 1px;
  border-color: #000 #000 #ffb24b;
  color: #ffd296;
}

.nav-active {
  color: #ffb24b;
}

.nav-active:hover {
  padding-top: 27px;
  border: none;
  color: #ffb24b;
}


.section-4 {
  width: 100%;
  height: 700px;
  max-width: 3000px;
  background-color: transparent;}

.s4-container {
  width: 80%;
  height: 800px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0%;
}

.s4-block-text {
  width: 100%;
  height: 180px;
  padding-top: 200px;
}

.s4-text {
  margin-bottom: 30px;
  font-family: 'Catamaran', sans-serif;
  color: #fff;
  font-size: 100px;
  text-align: center;
}

.s4-text-2 {
  font-family: 'Catamaran', sans-serif;
  color: #fff;
  font-size: 22px;
  text-align: center;
}

.s4-text-2 span {
  font-family: 'Catamaran', sans-serif;
  color: #ffb24b;
  font-size: 22px;
  text-align: center;
}