<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Change</title>
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="icon" href="/icons/logo.png">
</head>
<body>
    <div class="header wf-section">
        <div class="logo-block">
            <div class="logo">
                <img src="/icons/logo.png" loading="lazy" alt="" class="logo-img">
                <div class="logo-text">Diary<span>App</span> </div>
            </div>
        </div>
        <div class="header-block">
            <div class="nav-block">
                <div class="nav">
                    <a href="/dailyNote/getDailyNotes" class="nav-text">Daily Notes</a>
                </div>
                <div class="nav">
                    <a href="#" data-th-href="@{/diary/getDiaries}" class="nav-text">Diary</a>
                </div>
                <div class="nav">
                    <a href="#" class="nav-text nav-active">AdminPass</a>
                </div>
                <div class="nav">
                    <a href="/user/getUsersDelete" class="nav-text">AdminDelete</a>
                </div>
                <div class="nav" style="margin-left: 100px;">
                    <a href="/user/logout" class="nav-text">Log Out</a>
                </div>
            </div>
        </div>
    </div>

    <div class="all-notes">
        <div class="notes">
            <form action="/user/editUser" th:method="post" class="note" th:each="user : ${users}">
                <input class="email" type="text" th:value="${user.getEmail}" id="email" name="email" readonly>
                <input class="password" type="text" id="password" name="password" required>
                <div class="save-btn delete">
                    <button type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>

    <a href="" class="create-new">+</a>
</body>
</html>