<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DiaryApp</title>
    <link rel="icon" href="/icons/logo.png">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="header wf-section">
        <div class="logo-block">
            <div class="logo">
                <img src="/icons/logo.png" loading="lazy" alt="" class="logo-img">
                <div class="logo-text">Diary<span>App</span> </div>
            </div>
        </div>
        <div class="header-block">
            <div class="nav-block">
                <div class="nav" style="margin-right: -40px;">
                    <a href="#" class="nav-text nav-active">Home</a>
                </div>
                <div class="nav">
                    <a href="/login" class="nav-text">Log In</a>
                </div>
            </div>
        </div>
    </div>

    <div class="section-4 wf-section">
        <div class="s4-container">
            <div class="s4-block-text">
                <div class="s4-text">This is diary app</div>
                <div class="s4-text-2">Feel free to use<span>Squad</span> </div>
            </div>
        </div>
    </div>
</body>
</html>